@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button{
  background-color: yellowgreen;
  color: white;
  padding: 16px;
  margin: 8px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition:  0.3s;
}
button:hover {
  background-color: yellowgreen;
  color: white;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
  transition: transfrom 0.2s;
}
button:focus {
  background-color: green;
}
